@font-face {
	font-family: 'Yearbook Solid cyr';
	src: url(../fonts/Yearbook\ Solid\ cyr-addbf75b7d4556594395e7857e039fa3.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}