@font-face {
	font-family: 'Yearbook Solid cyr';
	src: url(../../assets/fonts/Yearbook%20Solid%20cyr-addbf75b7d4556594395e7857e039fa3.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}